.about-container {
  font-family: Heebo;
  margin: 3em 0em 3em 2em;
}
/* h2 styling */
.about-container h2 {
  color: #083463;
  font-size: 2em;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  opacity: 0;
  transition: width 2s, opacity 2s;
}
h2.underline {
  border-bottom: 3px solid #1974d3;
  display: inline-block;
  width: auto;
  opacity: 1;
}
h2.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #333;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: width 2s;
}
h2.underline::after {
  width: 100%;
}
/* keyframes for typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* h2 styling ends here */

/* About content styling starts here */
.text-container {
  display: flex;
  align-items: center;
  margin: 0em 6em 0em 6em;
  gap: 3em;
}
.text-container h3 {
  padding: 1em 0em 0.6em 0em;
  font-size: 1.6em;
  color: #083463;
}
.text-container img {
  margin-top: 5em;
  width: 200px;
  height: 200px;
  border-radius: 3em;
}
.text-container .subhead {
  font-style: italic;
  font-weight: 500;
}
.text-container .paragraph {
  font-weight: 500;
}
/* skills styling starts here */
.skills-container {
  margin-left: 5em;
  /* max-width: 200px; */
}
.skills-container h3 {
  padding-top: 2em;
  font-size: 1.6em;
  color: #083463;
}
.skills-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
}
.skills-content p {
  border: 1px solid #083463;
  border-radius: 1em;
  background-color: #083463;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  margin: 1em;
}
.skills-content p span {
  padding-left: 0.2em;
}
.skills-content p:hover {
  font-size: 20px;
}
